/* Forma de fazer comentário, neste CSS, o seletor é o asterisco */

/* margem do documento
* {
    margin: 1px;
    padding: "";
    box-sizing: border-box;
    text-align: "";
}
*/
/* Como colocar CSS no header? pode ser feito pelo id, inicia com hashtag e a id */
/* Formas de aplicar cor, background-color, pode ser colocado digitado até 17 cores em inglês, pelo hexadecimal(#000000) e pelo rgb (0,0,0) (preto por exemplo) */
/* -----HEADER------ */
#topo {
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(55,55,231,1) 71%, rgba(34,25,201,1) 100%);
    color: red;
    text-align: center;
}
#topo h1 {
    font-size: 90px;
}
/* -------NAV------- */
#menu {
    background: rgb(250,198,121);
    background: linear-gradient(90deg, rgba(250,198,121,1) 0%, rgba(60,21,145,1) 57%, rgba(0,0,0,1) 100%);
}
/* --MAIN -- */
.destaques, .produtos, .sobre, .contato{
    background: rgb(145,96,21);
    background: linear-gradient(90deg, rgba(145,96,21,1) 0%, rgba(222,146,32,1) 2%, rgba(0,0,0,1) 100%);
}
/* -------------FOOTER---------------*/
#rodape {
    background-color: darkkhaki;
}
/* Exemplos usando somente o parágrafo do rodapé, id e class */
#rodape p {
    font-size: 30px;
    text-align: center;
    text-decoration: overline wavy;
}
#final {
    color: red
}
.fundo {
    font-style: italic;
}

a {
    text-decoration: none
}

/* --SELETOR DE LINKS 
Seletores de Link:

a:link: Aplica-se a todos os links que ainda não foram visitados.
a:visited: Aplica-se a links que já foram visitados pelo usuário.
a:hover: Aplica-se quando o cursor do mouse está sobre um link.
a:active: Aplica-se quando um link está sendo clicado.

Exemplo:

a:visited {
    color: antiquewhite
}
a:hover {
    background-color: black;
    color: yellow;
    font-size: 30px;
    margin: 5px;
    border: solid 2px white;
}
    
---TAMBÉM FUNCIONA COM OUTRAS DIVS, EXEMPLO, O DEBAIXO FAZ O TOPO DESAPARECER QUANDO O MOUSE ESTÁ ENCIMA--

#topo:hover {
    display: none;
}
*/
/* -------------PROPRIEDADE DE FONTES------------------ */

/* text.decoration: none tira o risquinho debaixo */

/* font-family - Altera familia de fontes. text-transform */