/* --- PRINCIPAL CSS ---*/
/* um pouco confuso sobre estas 2 linhas de baixo */
/* ------------------ */
/* ------ MENU - FEITO SEM O DISPLAY: FLEX; ------ */
/* ------------------ */
/* BARRA DE NAVEGAÇÃO/MENU ANTIGO - Cassio pediu pra refazer no displayflex

#menu {
    margin-top: 50px;
}
.menu {
    position: fixed;
    z-index: 900;
    text-align: center;
    margin-top: 120px;
    padding: 20px;
    width: 100%;
    left: 0;
}
.menu ul li {
    display: inline;
    padding-right: 1%;
    padding-left: 1%;
}
.menu ul li a {
    text-decoration: none;
    color: #333;
    margin: 0px;
    padding: 10px 40px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
.menu ul li a:hover {
    background-color: #55e761;
*/
/* ------------------------------------- */
/* O .menu acima está difícil de alterar */
/* ------------------------------------- */

/* --- --------------------------------------- --- */
/* --- ---- RETIRADOS DO CONTEÚDO DO SITE ---- --- */
/* --- --------------------------------------- --- */
/*
body {
    margin-bottom: 0%;
}
*/
/* O margin-top:""; estava bugando o conteúdo, então troquei pra só top: ""; */

/* NAS PÁGINAS PRODUTO, CONTATO, PROMOCAO E SOBRE ANTES DO DISPLAY: FLEX, estavam usando 3 <br> e o css abaixo
/*
#main2 {
    margin: 1% auto 0; /* Adiciona margem superior suficiente para evitar sobreposição
    min-height:fit-content;
}
Agora não precisa mais nem dos <br> e neste este comando */

/* ----- MAIN  IMPORTADO de estilo.css------ 
.produtos, .sobre, .contato{
    background: rgb(145,96,21);
    background: linear-gradient(90deg, rgba(145,96,21,1) 0%, rgba(222,146,32,1) 2%, rgba(0,0,0,1) 100%);
} */


/* ------------------------------------------ */
/* --------------- TABELAS ------------------ */
/* ------------------------------------------ */
/*
.linha1 {
    margin: 10% auto;
    margin-top: 0%;
    margin-bottom: 20px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-bottom: 20px;
}
*/
/* O decima está errado, pois não é pra fazer vários <ul> e sim um <ul> só e usar o flex e flexwrap, vou manter o css pra */

/* COMANDOS UTEIS ABAIXO

justify-content: center;
row-gap: 16px;
column-gap: 8px;
*/
/* os de cima são códigos que foram removidos pra teste */


