/* Remova as margens e o padding do body e html */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Estilo para o cabeçalho */
.header {
    position: fixed; /* Torna o cabeçalho fixo */
    top: 0; /* Posiciona o cabeçalho no topo */
    left: 0; /* Alinha o cabeçalho à esquerda */
    width: 100%; /* Faz o cabeçalho ocupar toda a largura da tela */
    background-color: #333; /* Cor de fundo do cabeçalho */
    color: white; /* Cor do texto no cabeçalho */
    padding: 10px; /* Espaçamento interno */
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros conteúdos */
}

/* Estilo para o menu */
#menu {
    position: fixed; /* Torna o menu fixo */
    top: 60px; /* Ajuste para ficar abaixo do cabeçalho */
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px; /* Espaçamento interno */
    background-color: #444; /* Cor de fundo para diferenciar */
    z-index: 900; /* Fica abaixo do cabeçalho */
}

/* Estilo para o ul do menu */
#menu ul {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o padding do ul */
    margin: 0; /* Remove a margem do ul */
    display: flex; /* Usa flexbox para alinhar os itens em linha */
    justify-content: space-around; /* Espaça os itens igualmente */
}

/* Estilo para os itens da lista */
#menu ul li {
    display: inline; /* Garante que os itens fiquem em linha */
}

/* Estilo para os links do menu */
#menu ul li a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: #333; /* Cor do texto dos links */
    margin: 5px 25px; /* Margem interna e entre os links */
    padding: 10px 40px; /* Espaçamento interno dos links */
    background-color: #f0f0f0; /* Cor de fundo dos links */
    border-radius: 5px; /* Bordas arredondadas */
}

#menu ul li a:hover {
    background-color: #ddd; /* Cor de fundo ao passar o mouse */
}

/* Estilo para o conteúdo principal */
main {
    margin-top: 120px; /* Adiciona margem superior suficiente para evitar sobreposição pelo cabeçalho fixo e menu */
    width: 80%;
    margin: 120px auto 0; /* Ajusta a margem superior e centraliza o conteúdo principal */
    background-color: beige;
    padding: 20px; /* Espaçamento interno para o conteúdo principal */
    z-index: 800; /* Fica abaixo do menu e cabeçalho */
}